
/* Fonts (@Import) */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap');

/* Variables  */
:root{
    
    /* Colors  */
    --backgroud-color: #1E252B;
    --blur: blur(25px); 
    --text-main-color: rgba(255, 255, 255, 0.55); 
    --white-color: rgba(255, 255, 255, 0.9); 
    --accent-color: rgba(255, 110, 48, 1); 
    --dark-orange-for-cards: rgba(255, 165, 55, 0.55); 
    --dark-orange-for-cards-hover: rgba(255, 165, 55, 1); 

    /* Fonts  */
    --main-font: 'Poppins', sans-serif; 
    --second-font: 'Roboto', sans-serif;

    /* Weight */
    --Regular: 400; 
    --Medium: 500; 
    --SemiBold: 600; 
}


/* Main styles  */
.no-select{ 
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;  
}
body{ 
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-color);
    cursor: default;
} 
.container{ 
    margin: 0 auto;
    max-width:  1225px;
    /* outline: 2px solid red;  */
    padding: 10px;
}
ul{ 
    list-style: none;
}
a{ 
    color: inherit;
    text-decoration: none;
}
.flex{ 
    display: flex;
}
p, h1, h2, h3, h4, h5, h6{ 
    padding: 0;
    margin: 0;
}
/* Header  */

.nav-bar{ 
    justify-content: space-between;
    align-items: center;
}
.logotype-wrapp{ 
    gap: 22px;
}
.logotype-wrapp h3{ 
    color: var(--white-color); 
    font-family: var(--main-font);
    font-size: 22px;
    font-style: normal;
    font-weight: var(--SemiBold);
    line-height: normal;
}
.header-list{ 
    gap: 45px;
}
.header-list-item{ 
    color: var(--text-main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: normal;
}
.header-list-item:hover{ 
    color: var(--white-color);
}
button{ 
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    color: var(--text-main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--SemiBold);
    line-height: normal;
    border: none;
    border-radius: 8px;
    background: var(--backgroud-color);
    text-align: center;
}
button:hover{ 
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    transition: 0.7s;
    cursor: pointer;
}
button:not(:hover){ 
    transition: 0.7s;
}   

/* Section-1 (HERO)  */

.hero{ 
    margin-top: 115px;
}
.background-section-hero{ 
    background-image: url(/img/img-section-hero.png);
    background-repeat: no-repeat;
    background-position: right;
}
.wrapper-section-hero{ 
    justify-content: space-between;
    gap: 140px;
}
.text-block-section-hero{ 
    width: 600px;
}
.text-block-section-hero h1{ 
    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 50px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 140%; 
}
.accent-point{ 
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 50px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 140%;
}
.text-block-section-hero h2{ 
    margin-top: 30px;
    color: var(--text-main-color);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: 30px; 
}
.input-wrapper{ 
    margin-top: 60px;
    height: 65px;
    padding: 18px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: var(--backgroud-color);
    justify-content: space-between;
    align-items: center;
    width: 450px;
}
.input-wrapper img{ 
    width: 24.08px;
    height: 24px;
    flex-shrink: 0;
}
.input-wrapper img:hover{ 
    transform: rotateZ(-360deg) scale(1.3);
    transition: 1s;
}
.input-wrapper img:not(:hover){ 
    transition: 1s;
}
.input-wrapper input{ 
    color: var(--text-main-color);
    padding: 15px;
    width: 250px;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: normal;
    border: none;
    background: var(--backgroud-color);
}
.input-wrapper input:focus{ 
    outline: none;
}
.search-button{ 
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--SemiBold);
    line-height: normal;
    cursor: pointer;
}
.img-wrapper-social-section-hero{ 
    margin-top: 120px;
    gap: 30px;
}
.img-wrapper-social-section-hero img:hover{ 
    transform: rotateZ(360deg) scale(1.3);
    transition: 2s;
}
.img-wrapper-social-section-hero img:not(:hover){ 
    transition: 2s;
}
.search-button:hover{ 
    color: var(--accent-color);
    background: var(--white-color);
    transition: 0.3s;
}
.search-button:not(:hover){ 
    transition: 0.3s;
}

/* Section-2 Most Popular Tools  */
.most-popular-tools{ 
    margin-top: 210px;
}
.most-popular-tools h2{ 
    color: var(--white-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 48px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 130%; 
}
.most-popular-tools h3{ 
    color: var(--text-main-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 30px; 
}

 /* Cards  */
.cards{ 
    margin-top: 90px;
}
.card-list{ 
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
    padding: 0;
    gap: 11px;
}
.card-list-item{ 
    width: 392px;
    padding: 33px;
    height: 294px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--backgroud-color);
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    cursor: pointer;
}
.card-list-item:hover{ 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(40, 48, 54, 0.60);
    background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307) , rgba(255, 255, 255, 0) 20%);
    backdrop-filter: blur(100px);
    transform: translateY(-20px);
    transition: 0.3s;
}
.card-list-item:hover h3{ 
    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: normal;
}
.card-list-item:hover h4{ 
    color: #FFA537;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: normal;
}
.card-list-item:hover p{ 
    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: 30px; 
}
.card-list-item:hover .card-images-wrapper p{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--accent-color);
    transition: 0.5s;
}
.card-list-item:not(:hover){ 
    transition: 0.3s;
}
.card-text-about-apps img{ 
    margin-right: 30px;
}
.card-text-about-apps-wrapper{ 
    flex-direction: column;
}
.card-text-about-apps-wrapper h3{ 
    color: rgba(255, 255, 255, 0.78);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: normal;
    padding: 0;
    margin: 0;
}
.card-text-about-apps-wrapper h4{ 
    color: var(--dark-orange-for-cards);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: normal;
    margin: 0;
    padding: 0;
}
.card-list-item p{ 
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--Regular);
    line-height: 30px; 
    
}
.card-images-list{ 
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 25px;
}
.like{ 
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}
.folder{ 
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    position: relative;
}
.card-images-wrapper{ 
    justify-content: space-between;
}
.card-images-wrapper p{ 
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--SemiBold);
    line-height: normal;
}
.button-wrapp{ 
    margin: 0 auto;
    margin-top: 100px;
}
.button{ 
    margin: 0 auto;
    min-width: 120px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #1E252B;
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: normal;
    cursor: pointer;
    padding: 20px 50px;
}
.button:hover{ 
    background: var(--accent-color);
    color: var(--white-color);
    transition: 0.3s;
}
.button:not(:hover){ 
    transition: 0.3s;
}

/* Section 3  */

.net-works{ 
    margin-top: 200px;
}
.net-works-section-wrapper{ 
    width: 1200px;
    height: 253px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(44, 53, 61, 0.20);
    backdrop-filter: blur(25px);
    background-image: radial-gradient(circle at top left, rgba(255, 94, 0, 0.159), rgba(44, 53, 61, 0.20) 10%);
}
.net-works-section-wrapper h2{ 
    color: rgba(255, 255, 255, 0.80);
    font-family: var(--main-font);
    font-size: 24px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: normal;
    text-align: center;
}
.section-net-works-list{ 
    margin-top: 55px;
    gap: 107px;
}

/* Section 4  */
.Newcomer-Tools{ 
    margin-top: 220px;
}
.Newcomer-tools-section-card-block .card-list .card-list-item{ 
    width: 288px;
    height: 284px;
    flex-shrink: 0;
}
.Newcomer-tools-section-text-block{ 
    width: 1100px;
}
.Newcomer-tools-section-card-block .card-list{ 
    margin: 0;
    padding: 0;
}
.Newcomer-tools-section-text-block h2{ 
    color: rgba(255, 255, 255, 0.90);
    font-family: var(--main-font);
    font-size: 48px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 130%; 
}
.Newcomer-tools-section-text-block{ 
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 30px; 
}
.button-newcomer-tools-section{ 
    color: var(--white-color);
}
.Newcomer-tools-section-card-block{ 
    margin-right: 20px;
    padding: 0;
    margin: 0;
}
.Newcomer-tools-section-text-block p{ 
    width: 427px;
}
.Newcomer-tools-section-card-block p{
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--Medium);
    line-height: 30px;
}
.button-newcomer-tools-section{ 
    border-radius: 8px;
    margin-top: 60px;
    background: #FF6E30;
    width: 198px;
    height: 58px;
    flex-shrink: 0;
    text-align: center;
}
.button-newcomer-tools-section:hover{ 
    background-color: var(--white-color);
    color: var(--accent-color);
    transition: 0.3s;
}
.button-newcomer-tools-section:not(:hover){ 
    transition: 0.3s;
}
/* Section 5  */

.section-4{ 
    margin-top: 200px;
}
.wrapper-section-4{ 
    align-items: center;
    justify-content: space-around;
}
.foto-section-4{ 
    background: url(/img/ronald.png) no-repeat;
    height: 492px;
    width: 415px;
}
.name-frame{ 
    margin-top: 372px;
    margin-left: 130px;
    padding: 10px 22px;
    width: 265px;
    height: 91px;
    border-radius: 8px;
    backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.2);
}
.name-frame h3{ 
    color: rgba(255, 253, 253, 0.78);
    font-family: var(--main-font);
    font-size: 26px;
    font-weight: var(--Medium);
    line-height: 39px;
    letter-spacing: 1.5%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.name-frame p{ 
    color: rgba(255, 253, 253, 0.55);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: var(--Regular);
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
    padding: 0;
}
.text-section-4{ 
    width: 515px;
    height: 336px;
    background: url(/img/“.png) no-repeat;
    background-position: left top;
}
.wrapper-text-section-4 p{ 
    color: rgba(255, 255, 255, 0.78);
    font-family: var(--second-font);
    font-size: 14px;
    font-weight: var(--Regular);
    line-height: 30px;
    letter-spacing: 1.5%;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 390px;   
    display: flex;
    margin-top: 100px;
    margin-right: 20px;
}

.BAA{ 
    margin-top: 250px;
}
.BAA h2{ 
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: var(--Medium);
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}
.BAA p{ 
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: var(--Medium);
    line-height: 30px;
    letter-spacing: 0%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.foot-btn{ 
    display: flex;
    justify-content: center;
}

/* Footer  */
footer{ 
    margin-top: 250px;
}
footer{ 
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}
.footer-list{ 
    flex-direction: row;
    justify-content: space-between;
}
.footer-item{ 
    width: 200px;
}
.logo-footer{ 
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: var(--Medium);
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
#footer-p-1{ 
    color: rgba(255, 255, 255, 0.9);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: var(--Medium);
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
#footer-p-2{ 
    color: rgba(255, 255, 255, 0.55);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: var(--Regular);
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.logo-footer, #footer-p-1{ 
    margin-bottom: 20px; 
}

/* Reg  */
.reg-menu-body{ 
    background-size: 100%;
    background-image: url(https://bogatyr.club/uploads/posts/2023-02/1677197090_bogatyr-club-p-fon-kosmosa-dlya-fotoshopa-fon-pinterest-1.jpg);
}
.reg-menu-main{ 
    margin: 0;
    padding: 0;
}
.reg-menu{ 
    margin: 25px auto;
    background: rgb(128, 0, 255);
    width: 400px;
    border-radius: 10px;
    height: 500px;
    flex-direction: column;
    gap: 10px;
}
.reg-menu h2{ 
    margin-top: 20px;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: var(--second-font);
    font-weight: var(--SemiBold);
    font-style: normal;
    font-size: 50px;
    text-align: center;
} 
.inputs-reg-menu{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0 auto;
}
.inputs-reg-menu input{ 
    padding: 5px;
    height: 30px; 
    border-radius: 3px;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(20px); 
    outline: none;
    border: none;
    caret-color: white;
} 
.inputs-reg-menu input::placeholder{ 
    color: white;
    font-family: var(--main-font);
    letter-spacing: 2px;
}
.inputs-reg-menu input:focus{ 
    border: none;
    outline: none;
}
.reg-menu-sign-up-btn{ 
    margin-top: 50px;
    width: 118px;
    height: 48px;
    flex-shrink: 0;
    color: var(--text-main-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: var(--SemiBold);
    line-height: normal;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--backgroud-color);
    text-align: center;
}
.reg-menu-sign-up-btn:hover{ 
    border-radius: 8px;
    background: var(--white-color);
    color: black;
    text-align: center;
    transition: 1s;
    cursor: pointer;
}
button:not(:hover){ 
    transition: 0.7s;
}   
#scrollToTopBtn {
    display: none; /* Кнопка изначально скрыта */
    position: fixed; /* Кнопка фиксирована */
    bottom: 20px; /* Отступ от нижнего края */
    right: 20px; /* Отступ от правого края */
}
  
  #scrollToTopBtn:hover {
    background-color: #555;
}

.go-to-top{ 
    font-size: 20px;
    background-color: #4a4a4a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}